<div class="container">
    <div class="min">
        <div class="logo">
            <img src="/assets/Logos/hf.svg">
            <h3>HOUSEHOLD FINANCES</h3>

        </div>
        <div class="nav">
            <ng-container *ngFor="let item of routes">
                <p routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a
                        [routerLink]="item.route">{{item.routeTitle}}</a> </p>
            </ng-container>
        </div>
    </div>
    <div class="maj">
        <router-outlet></router-outlet>
    </div>
</div>