<div class="container">
    <div class="sub-container">
        <div class="sub-container1">
            <div [routerLink]="['/householdFinance']" routerLinkActive="active" class="card">
                <img src="/assets/Logos/household-finances.svg">
                <p>HOUSEHOLD FINANCE</p>
            </div>
            <div [routerLink]="['/publicFinance']" routerLinkActive="active" class="card">
                <img src="/assets/Logos/public-finances.svg">
                <p>PUBLIC FINANCE</p>
            </div>
            <div [routerLink]="['/financialMarkets']" routerLinkActive="active" class="card">
                <img src="/assets/Logos/financial-market.svg">
                <p>FINANCIAL MARKETS</p>
            </div>
        </div>
        <div class="sub-container1">
            <div [routerLink]="['/priceConsumption']" routerLinkActive="active" class="card">
                <img src="/assets/Logos/price-consumption.svg">
                <p>PRICE & CONSUMPTION</p>
            </div>
            <div [routerLink]="['/nationalAccount']" routerLinkActive="active" class="card">
                <img src="/assets/Logos/national-account.svg">
                <p>NATIONAL ACCOUNT</p>
            </div>
            <div [routerLink]="['/trade']" routerLinkActive="active" class="card">
                <img src="/assets/Logos/trade.svg">
                <p>TRADE IN GOODS & SERVICES</p>
            </div>
        </div>
    </div>
</div>