/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  font-size: 16px;
}

@media (max-width: 1440px) and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
  outline: none !important;
  margin: 0%;
  text-decoration: none !important;
  list-style: none;
  font-family: "Lato", sans-serif;
}
